<div class="left" style="margin-right: 50%; height: 100px; " >  
  <form method="get" action="/adminmanage/bills/find">
      <div class="input-group">
        <div class="col-xs-3" style="margin-top: 110px;">
            <label for="productName" class="form-label">Searching product</label>
            <input type="text" class="form-control" style="text-transform: lowercase" name="product_name" placeholder="Enter your Product name">
            <button type="submit" class="btn1 btn-outline-dark" id="submitbutton"><i class="fas fa-search" ></i>Find Product</button>
            <button type="button" class="btn1 btn-outline-dark" onclick="myFunction()">Show</button>
        </div>
      </div>
        
        <div class="buttons d-flex flex-row mt-5 gap-3">    </div>

        <div class="input-group 2">
        <div class="col-xs-3" style="margin-top: 10px;">
            <label for="productName" class="form-label">Product ID</label>
            <input type="text" class="form-control" style="text-transform: lowercase" name="product_id" placeholder="Enter your Product ID">
           
            <label for="productName" class="form-label">Product Quantity</label>
             <input type="number" min="1" class="form-control" style="text-transform: lowercase" name="product_quantity" placeholder="Enter your Product Quantity">
            <button type="submit" class="btn1 btn-outline-dark" id="submitbutton"><i  ></i>Add</button>
            <button type="submit" class="btn1 btn-outline-dark" id="submitbutton"><i  ></i>Clear all</button>
        </div>
      </div>
        
       
  </form>
  <div id="myDIV">
  {{#if data}}
  <ul class="list-group">
    {{#each data }}
    <li class="list-group-item list-group-item-dark">{{this.product_name}}</li>
    {{/each}}
</ul>
  {{else}}
    <h1>unkown product</h1>
  {{/if}}
</div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</div>
   <div style="margin-left: 50%; height: 100px; "> 
          <table class="table table-scroll table-striped">
        <thead>
            <tr>
                <th class="index">#</th>
                <th class="name">Product Name</th>
                <th class="qty">Quantity</th>
                <th class="price">Unit Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
            <tr>
                <td class="index">1</td>
                <td class="name">BEARBRICK</td>
                <td class="qty">1</td>
                <td class="price">300$</td>
            </tr>
           
        </tbody>
    </table>
    <table class="table table-clear" style=" margin-top: 300px; ;">
                            <tbody>
                                <tr>
                                    <td class="left">
                                        <strong>Subtotal</strong>
                                    </td>
                                    <td class="right">$1800</td>
                                </tr>
            </tbody>  
     </table>    
      <div class="buttons d-flex flex-row mt-5 gap-3">    <button type="submit" class="btn2 btn-outline-dark" id="createbutton"><i  ></i>Create Bill</button> </div>             
        </div>
