
    <img src="img/background.jpg"  style="width:100%">

<div class="card-group">
  <div class="card">
    <img src="img/khunglong.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">T-Rex</h5>
      <p class="card-text">$$</p>
      <p class="card-text">This is a t-rex but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card">
    <img src="img/woody.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cowboy-Woody</h5>
      <p class="card-text">$$</p>
      <p class="card-text">this is about cowboy-woody but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card">
    <img src="img/buzz.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buzz-LightYear</h5>
      <p class="card-text">$$</p>
      <p class="card-text">This is Buzz-LightYear but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</div>
<a href="/order">click to order</a>
<a href="/products">click to products</a>
<a href="/news">click tonews</a>
<a href="/reports">click to reports</a>