<h1>News page</h1>


<div class="container">
    <!-- Rows. -->
    <div class='row'>
        <!-- Item 1. -->
        <div class = "col-sm">
            <a href='details.php?pid=$product_id.$category_id'>
                <img src='https://img.goodsmileus.com/image/cache/data/productimages/ScaleFigures/GenshinImpact_AstralReflectionMona_17ScaleFigure/09-1200x1200.jpg' alt='preview' width='200px' height='200px'>
            </a>

            <div class='text'>
                <h2>
                    <a href='#'>Mona</a>
                </h2>

                <p class='price'>
                    $699
                </p>

                <p class='button'>
                    <form action='#'>
                    <input type='submit' value='View details'/>
                    </form>
                </p>

            </div>
        </div>
        <!-- Item 2 -->
        <div class = "col-sm">
            <a href='details.php?pid=$product_id.$category_id'>
                <img src='https://img.goodsmileus.com/image/cache/data/productimages/ScaleFigures/GenshinImpact_AstralReflectionMona_17ScaleFigure/09-1200x1200.jpg' alt='preview' width='200px' height='200px'>
            </a>

            <div class='text'>
                <h2>
                    <a href='#'>Mona</a>
                </h2>

                <p class='price'>
                    $699
                </p>

                <p class='buttons'>
                    <form action='#''>
                    <input type='hidden' id='pid' name='pid' value='$product_id''/>
                    <input type='submit' value='View details'/>
                    </form>
                </p>

            </div>
        </div>
        <!-- Item 3 -->
        <div class = "col-sm">
            <a href='details.php?pid=$product_id.$category_id'>
                <img src='https://img.goodsmileus.com/image/cache/data/productimages/ScaleFigures/GenshinImpact_AstralReflectionMona_17ScaleFigure/09-1200x1200.jpg' alt='preview' width='200px' height='200px'>
            </a>

            <div class='text'>
                <h2>
                    <a href='#'>Mona</a>
                </h2>

                <p class='price'>
                    $699
                </p>

                <p class='buttons'>
                    <form action='#''>
                    <input type='hidden' id='pid' name='pid' value='$product_id''/>
                    <input type='submit' value='View details'/>
                    </form>
                </p>

            </div>
        </div>
    </div>
</div>