<h1 class="my-4" style="text-align: center">&nbsp;</h1>
<h1 class="my-4" style="text-align: center"> THE PLACE WHERE ALL CHILDREN NEEDS&nbsp; &nbsp; &nbsp; </h1>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=""> TOY CASTLE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
		
		
      <div class="collapse navbar-collapse" id="navbarResponsive" align="center">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Product&nbsp;</a>
          </li>
          <li class="nav-item dropdown">
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>
			<li class="nav-item">
            <a class="nav-link" href="#"> Cart <img src="img/172035980_1107293729750950_335129648493088251_n.png" width="30" height="30" alt=""/></a>
          </li>
			
        </ul>
      </div>
    </div>
  </nav>

   <h1 class="my-4" style="text-align: center">  <button type="button" class="btn btn--primary  uppercase">Shop Now <img src="img/172035980_1107293729750950_335129648493088251_n.png" width="50" height="50" alt=""/></button></h1>